<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Update Page</title>
  </head>
  <body>
    <div class="jumbotron text-center">
      <div class="btnalnctr">
        <button type="submit" ng-click="retrieve_data();">
          Show data to update details
        </button>
        <br /><br />
      </div>

      <table align="center" border="">
        <tr>
          <th>
            <h4><b>First Name</b></h4>
          </th>
          <th>
            <h4><b>Last Name</b></h4>
          </th>
          <th>
            <h4><b>Phone Number</b></h4>
          </th>
          <th>
            <h4><b>Action</b></h4>
          </th>
        </tr>
        <tr ng-repeat="data in receive_data">
          <td>{{data.first_name}}</td>
          <td>{{data.last_name}}</td>
          <td>{{data.phone}}</td>

          <td align="center">
            <button><a ng-href="/update/{{data._id}}">Update</a></button>
          </td>
          <!-- <td align="center">
            <button><a ng-href="/delete/{{data._id}}">Delete</a></button>
          </td> -->
        </tr>
      </table>
    </div>
  </body>
</html>
